#wog_dl {
  display: block;
  height: 30px;
  width: 300px;
  padding-left: 20px;
  margin-left: 0px;
  border-style: solid;
  border-color: gray;
}

#wog_dl a {
  display: bloc;
  position: relative;
  top: -15px;
}
