/* Shared CSS */

body {
  width: 80%;
  max-width: 1300px;
  margin:auto;

  background-color: lightgray;
}

div.MainContainer {
  width: 100%;
  min-height: 95vh;

  margin: 0px;
  padding: 0% 1% 0% 1%;
  display: block;
  box-sizing: border-box;
  overflow: auto;

  background-color: white;
}

#TheHeader {
  width: 100%;
  height: 5vh;
  max-height: 100px;
  color: black;

  border: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
